.social--icons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	height: 65px;
	a {
		height: 25px;
		margin: 0 10px;
		i {
			font-size: 1.25rem;
			color: $white;
		}
	}
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.social--icons {
		height: 100px;
		a {
			height: 40px;
		}
	}
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}