footer#contacts
	.grid-x
		.large-3.medium-6.small-12.column
			.footer--column
				img(src="/images/BoBo-Bistrot-neon.png", alt="")
		.large-3.medium-6.small-12.column
			.footer--column
				h3 Contatti
				p
					strong Bo.Bo Bistrot
					br
					|Viale di Porta Ardeatina, 55
					br
					|00154 Roma RM
				img.waves(src="/images/BoBo-Bistrot-waves.png", alt="")
				h3 Info & Prenotazioni
				p
					|Chiama
					br
					strong +39 06 123 4567
					br
					strong +39 333 123 4567
				p
					|O scrivi a:
					br
					strong 
						a(href="mailto:info@bobobistrot.it") info@bobobistrot.it
		.large-6.medium-12.small-12.column
			#map-bbb
.copyright
	.grid-x
		.large-12.medium-12.small-12.column
			p
				|© 2019 Bo.Bo Bistrot - Tutti i diritti riservati - P. IVA 000000000000 - 
				a(href="/cookie.html") Cookie
				|  - 
				a(href="/privacy.html") Privacy
				|  - Designed by 
				a(href="//officine06.com", rel="nofollow") Officine06