doctype html
html(lang = 'en')
  head
    title
      block title

    block metatags
      meta(charset='utf-8')    
      meta(http-equiv="X-UA-Compatible", content="IE=edge")     
      meta(name='viewport', content='width=device-width, initial-scale=1')

    // Favicons

    // Google Analytics
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=CODE-ID')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'CODE-ID');

    // Google Fonts
    link(href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Playfair+Display:700&display=swap', rel='stylesheet')

    // Styles
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.8.2/css/all.css', integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay', crossorigin='anonymous')
    link(rel='stylesheet' href='css/vendor.css')
    link(rel='stylesheet' href='css/main.css')

  body
    // Including header
    include header

    // Including content
    block content
    
    // Including header
    include footer

    // Scripts
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDUyAu-Kh9Z3yisWaHGTwpWJm4XLc8k0y8')
    script(src='js/vendor.js')
    script(src='js/jquery.sticky.js')
    script(src='js/jquery.instagramFeed.min.js')
    script(src='js/app.js')
